@import 'https://fonts.googleapis.com/css2?family=Poppins:ital';
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes marquee1 {
  100% { transform: translateX(0); }
  0% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
.animate-marquee1 {
  animation: marquee1 20s linear infinite;
}

